<form id="conatct-form" [formGroup]="contactForm" (ngSubmit)="OnSubmit()" novalidate>
  <div class="form-group">
    <label class="center-block">
      Name :
      <input class="form-control" formControlName="name">
    </label>
    <label class="center-block">
      Email :
      <input class="form-control" formControlName="name">
    </label>
    <label class="center-block">
      Text :
      <input class="form-control" formControlName="name">
    </label>
  </div>
  <button type="submit" [disabled]="!contactForm.valid" class="btn btn-sucess">Save</button>
</form>
